@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --shadow-soft: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1);
    --shadow-hard: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.1);

    --color-white: #FFFFFF;
    --color-background: #F4F4F4;
    --color-light: #AAAAAA;
    --color-black: #000000;
    --color-accent: #9FCE80;
    --color-divider: #DBDBDB;
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    position: relative;
}


.header {
    height: 5.5rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-soft);
    display: grid;
    padding: 0 5rem;
    align-items: center;
    grid-template-columns: max-content 1fr max-content;

    img {
        height: 2.5rem;
    }

    .github {
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-black);
        transition: color 0.2s;

        &:hover {
            color: var(--color-accent);
        }

        svg {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }

        div {
            font-size: 1.7rem;
            font-weight: 600;
        }
    }
}

.article-container {
    padding: 3rem 3rem 5rem 3rem;
    display: grid;
    width: max-content;

    &__column {
        height: max-content;
        padding: 1.5rem;
        display: grid;
        gap: 3rem;
        align-items: flex-start;
    }
}

.article {
    width: 40rem;
    height: max-content;
    background-color: var(--color-white);
    display: grid;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-hard);
    text-decoration: none;
    transition: 0.15s;

    &:hover {
        transform: scale(1.02);
    }

    &__image {
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__bottom {
        padding: 2rem 2rem 1.5rem 2rem;
        display: grid;
        row-gap: 1rem;
        color: var(--color-black);
    }

    &__title {
        overflow: hidden;
        font-size: 1.7rem;
        line-height: 1.1;
        font-weight: 600;
    }

    &__text {
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 1.2;
    }

    &__info {
        padding-top: 0.2rem;
        display: flex;
        justify-content: space-between;
        color: var(--color-light);
        font-size: 1.2rem;
    }
}

.options-selection {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 5rem;
}

.source-selection-button {
    width: max-content;
    height: 3.5rem;
    display: flex;
    padding: 0.7rem 3rem;
    background-color: var(--color-white);
    font-size: 1.5rem;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-soft);
    cursor: pointer;
    user-select: none;
    margin: 1.5rem 0 0 1.5rem;
    color: var(--color-black);

    img {
        height: 70%;
    }
}

.divider {
    height: 0.1rem;
    background-color: var(--color-divider);
    margin: 0 5rem;
}
